<footer class="footer">
  <div class="row align-items-center justify-content-xl-between" >
    <div class="col-xl-9">
      <div class="copyright text-center text-xl-left text-muted" >
        &copy; {{ test | date: "yyyy" }} Agência de Desenvolvimento do Vale do Zambeze | Desenvolvido pelo  <a href="https://www.inage.gov.mz" class="font-weight-bold ml-1" target="_blank">INAGE</a>
      </div>
    </div>
    <div class="col-xl-0">
      <ul class="nav nav-footer justify-content-center justify-content-xl-end">
        <li class="nav-item">
          <a href="https://www.agenciadozambeze.gov.mz/inicio/" class="nav-link" target="_blank">Agência do Zambeze</a>
        </li>
        <li class="nav-item">
          <a href="https://www.agenciadozambeze.gov.mz/quem-somos/" class="nav-link" target="_blank">Sobre nós</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
