<div class="header bg-gradient-success py-7 py-lg-8">
  <!-- <div class="container">
    <div class="header-body text-center mb-7">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-6">
          <h1 class="text-white">Bem-vindo!</h1>
          <p class="text-lead text-light">Use estes formulários para fazer login ou criar uma nova conta.</p>
        </div>
      </div>
    </div>
  </div> -->
  <div class="separator separator-bottom separator-skew zindex-100">
    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</div>
<!-- Page content -->
<div class="container mt--9 pb-0">
  <!-- Table -->
  <div class="row justify-content-center">
    <div class="col-lg-7 col-md-5">
      <div class="card bg-secondary shadow border-0">
        <div class="card-body px-lg-5 py-lg-3">
          <div class="text-center text-muted mb-4">
            <small><h2>Registe-se com</h2></small>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <div class="input-group input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                  </div>
                  <input class="form-control" placeholder="Nome completo" type="text">
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <div class="input-group input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                  </div>
                  <input class="form-control" placeholder="E-mail" type="email">
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <div class="input-group input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-badge"></i></span>
                  </div>
                  <input class="form-control" placeholder="Bilhete de Identidade/Nuit" type="text">
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <div class="input-group input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-pin-3"></i></span>
                  </div>
                  <input class="form-control" placeholder="Morada" type="text">
                </div>
              </div> 
            </div>
            <div class="col-lg-12">
              <div class="form-group">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                  </div>
                  <input class="form-control" placeholder="Password" type="password">
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="text-muted font-italic">
                <small>Força da senha: <span class="text-danger font-weight-700">Adicione números e simbolos</span></small>
              </div>  
            </div>
            <div class="row my-3">
              <div class="col-12">
                <div class="custom-control custom-control-alternative custom-checkbox" style="padding-left: 4rem !important">
                  <input class="custom-control-input" id="customCheckRegister" type="checkbox">
                  <label class="custom-control-label" for="customCheckRegister">
                     <span class="text-muted">Eu concordo com os <a href="#!">Termos de privacidade</a></span>
                  </label>
                </div>
              </div>
            </div>
            <div class="text-center">
              <a  routerLinkActive="active" [routerLink]="['/icons']">
              <button type="button" class="btn btn-success mt-5"  style="bottom: 0rem !important; border-radius: 2rem !important; position: relative;">Criar conta</button></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
