<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px; background-image: url(assets/img/theme/perfil_fundo.jpg); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-success opacity-7"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-auto col-md-3">
        <h1 class="display-3 text-white ">Olá Carlos Manhique</h1>
        <p class="text-white mt-3 mb-3">Aqui você poderá visualizar seus dados, actualizar o seu e-mail e verificar o estado da sua conta!</p>
        <a href="#!" class="btn btn-success text-uppercase" style="border-radius: 2rem !important">Verificar estado da minha conta</a>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
      <div class="card card-profile shadow">
        <div class="card-body pt-0 pt-md-4">
          <div class="row">
            <div class="col">
              <div class="card-profile-stats d-flex justify-content-center mt-md-3">
                <div>
                  <span class="heading">6</span>
                  <span class="description">Emprestimos</span>
                </div>
                <div>
                  <span class="heading">5</span>
                  <span class="description">Pagamentos</span>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center">
            <h3>
              Carlos Manhique<span class="font-weight-light"></span>
            </h3>
            <div class="h5 font-weight-300">
              <i class="ni location_pin mr-2"></i>Maputo, Matola
            </div>
            <div class="h5 mt-4">
              <i class="ni business_briefcase-24 mr-2"></i>Engenheiro de Telecomunicações
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-8 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Minha conta</h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form>
            <h6 class="heading-small text-muted mb-4">Informações do usuário</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-fulname">Nome completo</label>
                    <input type="text" id="input-fullname" class="form-control form-control-alternative" placeholder="Nome completo" value="Carlos Manhique">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-email">E-mail</label>
                    <input type="email" id="input-email" class="form-control form-control-alternative" value="cmahique@gmail.com">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-bi">Bilhete de Identidade</label>
                    <input type="text" id="input-bi" class="form-control form-control-alternative" value="100110769486B">
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" />
            <!-- Address -->
            <h6 class="heading-small text-muted mb-4">Informações de contacto</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-number">Telemóvel</label>
                    <input id="input-number" class="form-control form-control-alternative" placeholder="(+258)" value="84123456" type="number">
                  </div>
                </div>
                
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-address">Endereço</label>
                    <input id="input-address" class="form-control form-control-alternative" placeholder="Endereço" value="Matola" type="text">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-country">Nacionalidade</label>
                    <input type="text" id="input-country" class="form-control form-control-alternative" placeholder="Nacionalidade" value="Moçambicana">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-city">Província</label>
                    <input type="text" id="input-city" class="form-control form-control-alternative" placeholder="Província" value="Maputo">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-postal-code">Código postal</label>
                    <input type="number" id="input-postal-code" class="form-control form-control-alternative" placeholder="Código postal" value="1112">
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
